/* SOCIAL */
.social { padding:0; margin:2em 0; list-style:none; text-align: center; bottom: 30px!important;}
.social { display:inline-block; padding:0; margin-bottom: 3px; }
td.social { display:inline; padding:0; margin: 3px; }
.social a {
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    opacity: .6;
    background: transparent;
    display: block;
    font-family: 'fontello';
    font-size: 15px;
    height: 36px;
    width: 36px;
    line-height: 34px;
    margin: 0 0.1em 0.2em 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

.social a { background-color: #000 ;border: 1px solid #000 }

.social a.facebook:before { content: '\e800'; }
.social a.twitter:before { content: '\e801'; }
.social a.flickr:before { content: '\e810'; }
.social a.rss:before { content: '\e80b'; }
.social a.dribble:before { content: '\e806'; }
.social a.lastfm:before { content: '\e80a'; }
.social a.linkedin:before { content: '\e802'; }
.social a.vimeo:before { content: '\e80c'; }
.social a.google:before { content: '\e84d'; }
.social a.forrst:before { content: '\e80d'; }
.social a.skype:before { content: '\e812'; }
.social a.picassa:before { content: '\e8e0'; }
.social a.youtube:before { content: '\e813'; }
.social a.tumblr:before { content: '\e815'; }
.social a.behance:before { content: '\e868'; }
.social a.blogger:before { content: '\e80f'; }
.social a.delicious:before { content: '\e80f'; }
.social a.digg:before { content: '\e807'; }
.social a.friendfeed:before { content: '\e867'; }
.social a.github:before { content: '\e805'; }
.social a.wordpress:before { content: '\e816'; }
.social a.pinterest:before { content: '\e804'; }
.social a.instagram:before { content: '\e808'; }

/* social icon hovers */
.social a.facebook:hover {
    background-color:#3c5fac;
    opacity: 1;
    border-color: #3c5fac;
}
.social a.twitter:hover  {
    background-color:#5ec3df;
    opacity: 1;
    border-color: #5ec3df;
}
.social a.flickr:hover  {
    background-color:#FF0084;
    opacity: 1;
    border-color: #FF0084;
}
.social a.rss:hover  {
    background-color:#ff9900;
    opacity: 1;
    border-color: #ff9900;
}
.social a.dribble:hover  {
    background-color:#EA4C89;
    opacity: 1;
    border-color: #EA4C89;
}
.social a.lastfm:hover  {
    background-color:#D51007;
    opacity: 1;
    border-color: #D51007;
}
.social a.linkedin:hover  {
    background-color:#2089b5;
    opacity: 1;
    border-color: #2089b5;
}
.social a.vimeo:hover  {
    background-color:#0dadd6;
    opacity: 1;
    border-color: #0dadd6;
}
.social a.google:hover  {
    background-color:#c63d2d;
    opacity: 1;
    border-color: #c63d2d;
}
.social a.forrst:hover  {
    background-color:#5b9a68;
    opacity: 1;
    border-color: #5b9a68;
}
.social a.skype:hover  {
    background-color:#00aff0;
    opacity: 1;
    border-color: #00aff0;
}
.social a.picassa:hover  {
    background-color:#ffd34e;
    opacity: 1;
    border-color: #ffd34e;
}
.social a.youtube:hover  {
    background-color:#c8312b;
    opacity: 1;
    border-color: #c8312b;
}
.social a.pinterest:hover  {
    background-color:#cb2027;
    opacity: 1;
    border-color: #cb2027;
}
.social a.tumblr:hover  {
    background-color: #2C4762;
    opacity: 1;
    border-color: #2C4762;
}
.social a.behance:hover  {
    background-color: #3878F6;
    opacity: 1;
    border-color: #3878F6;
}
.social a.blogger:hover  {
    background-color: #fc9947;
    opacity: 1;
    border-color: #fc9947;
}
.social a.delicious:hover  {
    background-color: #3274d1;
    opacity: 1;
    border-color: #3274d1;
}
.social a.digg:hover  {
    background-color: #205891;
    opacity: 1;
    border-color: #205891;
}
.social a.friendfeed:hover  {
    background-color: #2f72c4;
    opacity: 1;
    border-color: #2f72c4;
}
.social a.github:hover  {
    background-color: #000000;
    opacity: 1;
    border-color: #000000;
}
.social a.wordpress:hover  {
    background-color: #0083b3;
    opacity: 1;
    border-color: #0083b3;
}
.social a.instagram:hover  {
    background-color:#3f729b;
    opacity: 1;
    border-color: #3f729b;
}
