html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}
/*  Spaces  */
.top-spacing-10, .both-spacing-10 { margin-top: 10px!important }
.top-spacing-20, .both-spacing-20 { margin-top: 20px!important }
.top-spacing-30, .both-spacing-30 { margin-top: 30px!important }
.top-spacing-40, .both-spacing-40 { margin-top: 40px!important }
.top-spacing-50, .both-spacing-50 { margin-top: 50px!important }
.top-spacing-60, .both-spacing-60 { margin-top: 60px!important }
.top-spacing-70, .both-spacing-70 { margin-top: 70px!important }
.top-spacing-80, .both-spacing-80 { margin-top: 80px!important }
.top-spacing-90, .both-spacing-90 { margin-top: 90px!important }
.top-spacing-100, .both-spacing-100 { margin-top: 100px!important }
.top-spacing-150, .both-spacing-150 { margin-top: 150px!important }

.bottom-spacing-10, .both-spacing-10 { margin-bottom: 10px!important }
.bottom-spacing-20, .both-spacing-20 { margin-bottom: 20px!important }
.bottom-spacing-30, .both-spacing-30 { margin-bottom: 30px!important }
.bottom-spacing-40, .both-spacing-40 { margin-bottom: 40px!important }
.bottom-spacing-50, .both-spacing-50 { margin-bottom: 50px!important }
.bottom-spacing-60, .both-spacing-60 { margin-bottom: 60px!important }
.bottom-spacing-70, .both-spacing-70 { margin-bottom: 70px!important }
.bottom-spacing-80, .both-spacing-80 { margin-bottom: 80px!important }
.bottom-spacing-90, .both-spacing-90 { margin-bottom: 90px!important }
.bottom-spacing-100, .both-spacing-100 { margin-bottom: 100px!important }
.bottom-spacing-150, .both-spacing-150 { margin-bottom: 150px!important }

.left-spacing-10, .both-s-spacing-10 { margin-left: 10px!important }
.left-spacing-20, .both-s-spacing-20 { margin-left: 20px!important }
.left-spacing-30, .both-s-spacing-30 { margin-left: 30px!important }
.left-spacing-40, .both-s-spacing-40 { margin-left: 40px!important }
.left-spacing-50, .both-s-spacing-50 { margin-left: 50px!important }
.left-spacing-60, .both-s-spacing-60 { margin-left: 60px!important }
.left-spacing-70, .both-s-spacing-70 { margin-left: 70px!important }
.left-spacing-80, .both-s-spacing-80 { margin-left: 80px!important }
.left-spacing-90, .both-s-spacing-90 { margin-left: 90px!important }
.left-spacing-100, .both-s-spacing-100 { margin-left: 100px!important }

.right-spacing-10, .both-s-spacing-10 { margin-right: 10px}
.right-spacing-20, .both-s-spacing-20 { margin-right: 20px!important }
.right-spacing-30, .both-s-spacing-30 { margin-right: 30px!important }
.right-spacing-40, .both-s-spacing-40 { margin-right: 40px!important }
.right-spacing-50, .both-s-spacing-50 { margin-right: 50px!important }
.right-spacing-60, .both-s-spacing-60 { margin-right: 60px!important }
.right-spacing-70, .both-s-spacing-70 { margin-right: 70px!important }
.right-spacing-80, .both-s-spacing-80 { margin-right: 80px!important }
.right-spacing-90, .both-s-spacing-90 { margin-right: 90px!important }
.right-spacing-100, .both-s-spacing-100 { margin-right: 100px!important }

/*   End   */

/* label focus color */

input[type=text]:focus+label,
input[type=email]:focus+label,
input[type=time]:focus+label,
input[type=password]:focus+label,
input[type=file]:focus+label,
textarea.materialize-textarea:focus+label {
	color: grey!important;
}

.dropdown-content li>a,
.dropdown-content li>span {
	color: grey!important;
}

dialog{
  position: fixed;
  z-index: 9999;
}

/* label underline focus color */

input[type=text]:focus,
input[type=email]:focus,
input[type=time]:focus,
input[type=password]:focus,
input[type=file]:focus,
textarea.materialize-textarea:focus {
	border-bottom: 1px solid grey!important;
	box-shadow: 0 1px 0 0 grey!important;
}

.icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer;
}

body>div[class*="Block"]{
    min-height: 100vh;
}

.odd{
    background-color: #ececec;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.chip .mat-icon {
    cursor: pointer;
    float: left;
    line-height: 32px;
    padding-right: 8px;
}

.title-about {
    font-size: 5em;
    position: relative;
    text-align: center;
}

.title-about.d-green{ text-decoration: underline green; text-shadow: 2px 1px green; }
.title-about.d-yellow{ text-decoration: underline yellow; text-shadow: 2px 1px yellow; }
.title-about.d-blue{ text-decoration: underline blue; text-shadow: 2px 1px blue; }
.title-about.d-red{ text-decoration: underline red; text-shadow: 2px 1px red; }

#fixedBlock{
  position: fixed;
  z-index: 99999;
}
/*******************************
Block 1 css
*******************************/
.avatar>img {
    position: fixed;
    height: 15em;
    border: 0.5em inset #9e9e9e;
    border-radius: 25%;
    right: 5em;
    top: 2em;
    z-index:99999;
}

button#main-menu-button{
    position: fixed;
    top: 3em;
    left: 5em;
    z-index:99999;
}

.title-name{
    text-shadow: 3px 2px  #9e9e9e;
    font-size: 5em;
    position: relative;
    text-align: center;
    top: 30vh;
}

.sub-title-name{
    text-shadow: 2px 2px  #9e9e9e;
    font-size: 2em;
    position: relative;
    top: 50.5vh;
}

.social-content {
    position: relative;
    top: 60vh;
}

/*******************************
Block 2 css
*******************************/

.title-about{ 
  top: 1vh;
  text-shadow: 3px 2px  #9e9e9e;
  text-decoration: underline;
}

.cv-bold {
    width: 28.5em;
    height: 0.2em;
    border-radius: 5px;
    left: 70vh;
    position: absolute;
}
.chip>label {
    font-size: 1rem;
    font-weight: bold;
}
.about-extra-icon ul{
    padding: 0;
}
.about-extra-icon ul li{
    display: inline-block;
    float: left;
    margin: 0 36px 10px 0;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #f1f1f1;
}
.about-extra-icon ul li p{
    color: #7e868e;
    font-size: 16px;
    text-align: center;
    padding-top: 35px;
    font-weight: 500;
}
.about-extra-icon ul li p i{
    font-size: 36px;
}


/* Block 1 screen specifics */
@media only screen and (max-device-height: 736px){
    .title-name {
        text-shadow: 2px 1px  #9e9e9e;
        font-size: 2em;
        top: 30vh;
    }

    .sub-title-name{
        text-shadow: 2px 1px  #9e9e9e;
        font-size: 1.5em;
        top: 30.5vh;
    }

    .avatar>img {
        position: absolute;
        height: 6em;
        border: 0.5em inset #9e9e9e;
        border-radius: 25%;
        top: 2em;
    }

    .social-content {
        position: relative;
        top: 20.5em;
    }

    .menu-btn{
        position: fixed;
        top: 3em;
        left: 5em;
        z-index:99999;
    }
}

/* Block 2 screen specifics */
@media only screen and (max-device-height: 736px){
    .title-about{ top: 10vh; }

    .cv-bold {
        width: 22.5em;
        left: 5vh;
        top: 10vh;
        position: relative;
    }
}


/*** Block  ***/
.container ul.timeline, .container ul.timeline-left {
  margin: 0;
  margin-top: 100px;
  list-style: none;
  position: relative;
  padding: 1px 100px;
  color: #000;
  font-size: 13px;
}
.container ul.timeline:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #fff;
}
.container ul.timeline-left:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: 406px;
  border-left: 2px dashed #fff;
}
.container ul.timeline li.item-timeline {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 14px;
  border-radius: 6px;
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.container ul.timeline-left li.item-timeline {
  position: relative;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 14px;
  border-radius: 6px;
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.container ul.timeline li.item-timeline:not(:first-child), .container ul.timeline-left li.item-timeline:not(:first-child) {
  margin-top: 60px;
}
.container ul.timeline li.item-timeline > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
.container ul.timeline-left li.item-timeline > span {
  width: 2px;
  height: 100%;
  background: #fff;
  right: -30px;
  top: 0;
  position: absolute;
}
.container ul.timeline li.item-timeline > span:before, .container ul.timeline li.item-timeline > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}
.container ul.timeline-left li.item-timeline > span:before, .container ul.timeline-left li.item-timeline > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #86b7e7;
  right: -5px;
  top: 0;
}
.container ul.timeline li.item-timeline span:after, .container ul.timeline-left li.item-timeline span:after {
  top: 100%;
}
.container ul.timeline li.item-timeline > div,.container ul.timeline-left li.item-timeline > div {
  margin-left: 10px;
}
.container div .title, .container div .type {
  font-weight: 600;
  font-size: 12px;
}
.container div .info {
  font-weight: 300;
}
.container div > div {
  margin-top: 5px;
}
.container span.number {
  height: 100%;
}
.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -45px;
  font-weight: bold;
}
.container ul.timeline-left span.number span {
  position: absolute;
  font-size: 10px;
  left: 10px;
  font-weight: bold;
}
.container span.number span:first-child {
  top: 0;
}
.container span.number span:last-child {
  top: 100%;
}


.modal-content.no-style ul li {
    list-style-type: disc;
    margin-left: 10%;
}
.modal-content.no-style ul li ul li{
  list-style-type: circle;
}
